@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #202125;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}

@keyframes popupFromBottom {
  0% {
      transform: translateY(100%);
      opacity: 0;
  }
  50% {
      transform: translateY(-10%);
      opacity: 1;
  }
  100% {
      transform: translateY(0);
  }
}

@keyframes popupFromLeft {
  0% {
      transform: translateX(-5%);
      opacity: 0;
  }
  50% {
      transform: translateX(0%);
      opacity: 1;
  }
  100% {
      transform: translateX(0);
  }
}

@layer utilities {
  .heading {
    @apply font-bold text-4xl md:text-5xl text-center;
  }
  .zoom-effect:hover { 
    transform: scale(1.1); 
  } 
  .zoom-effect { 
    transition: transform 0.3s ease;
  }
  .sidebar {
    @apply hidden xl:flex;
  }
  .tags {
    @apply max-xl:flex max-xl:justify-center max-xl:items-center max-xl:gap-5 max-xl:flex-wrap;
  }
  .notion__container .notion-header {
    display: none !important;
  }

  .reactMarkDown h3,
  .reactMarkDown p,
  .reactMarkDown code,
  .reactMarkDown ul,
  .reactMarkDown ol li::marker,
  .reactMarkDown li {
    @apply text-white;
  }
  

  .reactMarkDown h1 {
    @apply text-white font-bold text-4xl
  }
  .reactMarkDown h2 {
    @apply text-white font-bold text-3xl
  }
  .reactMarkDown strong{
    @apply text-yellow font-bold;
  }
  .reactMarkDown code{
    @apply p-[4px] bg-[#2F2F2D] rounded-[4px] text-red-100 text-sm;
  }
  .reactMarkDown code::before {
    @apply content-none;
  }
  .reactMarkDown code::after {
    @apply content-none;
  }
  .reactMarkDown blockquote {
    background-color: #282c34;
    padding: 0.1rem 1rem;
    border-inline-start-color: #FFBF00;
  }
  .popupFromBottom {
    animation: popupFromBottom 0.8s ease-out;
  }
  .popupFromLeft {
    animation: popupFromLeft 0.8s ease-out;
  }
}